@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

/* start global setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeseva One', cursive;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #0E0D0C;
}

a{
    text-decoration: none;
    color:inherit;
}
.title-id{
    color: rgb(239, 167, 101);
}
.loading{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:#F3D4B5;
    z-index:999;
    display:flex;
    justify-content:center;
    align-items: center;
}
.loading-video{
    width: 40%;
}

::-webkit-scrollbar{
    background-color:rgb(216, 150, 88);
    position: relative;
    z-index: -2;
}
::-webkit-scrollbar-track{
    border-radius: 50%;
    background-color:rgb(212, 212, 212);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(216, 150, 88);
    border-radius: 10px;
}
::placeholder { 
    color: #cccccc;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: #cccccc;
  }
  
  ::-ms-input-placeholder {
    color: #cccccc;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
    width: 50%;
  }


/* start navbar */

.navbrand-img{
    width:12.5rem;
}
.navbar{
    background-color:transparent!important;
}
.nav-link{
    font-size:1.125rem;
    transition: all .5s;
    color:white !important;
    border-bottom: solid 0.0625rem transparent;
    font-weight: 800;
}
.nav-link:hover{
    border-bottom: solid 0.0625rem rgb(239, 167, 101);
    color: rgb(239, 167, 101)!important;
    cursor:pointer;
}
.navbar-nav{
    margin-top: 0.625rem;
}
.nav-cart {
    color: rgb(239, 167, 101);
    cursor: pointer;
    transition: all 1s;
}
.nav-cart .fa-2x:hover{
    transform: scale(1.2);
}
.active{
    color: rgb(239, 167, 101) !important;
}

.nav-color{
    background-color: rgba(197, 175, 128, 0.664) !important;
  
}


/* start hero */


.hero{
    position: relative;
}
.svg-grass{
    position: absolute;
    bottom: -25rem;
    right: 0;
}

.home{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    position: relative;
}

.hero-layer{
    background:linear-gradient(to bottom,#0E0D0C,#0e0d0cab,#0E0D0C) ;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
}
.hero-caption{
    position: absolute;
    left:2%;
    top: 60%;
    transform: translateY(-60%);
    width:50%;
    z-index: 2;
}
.hero-title{
    color:rgb(239, 167, 101);
    font-size: 4.375rem;
}
.hero-p{
    color: rgb(233, 233, 233);
}
.caros-icon{
    margin:0.625rem 0.625rem 0.625rem 1.875rem;
    text-decoration:none;
    color:white;
    transition: all .5s;
}
.caros-icon:hover{
    color: rgb(239, 167, 101);
}
.reservation-btn{
    background-color: transparent;
    border: 1px solid rgb(239, 167, 101);
    color: rgb(239, 167, 101);
    transition: all .5s;
}
.reservation-btn:hover{
    background-color: rgb(216, 150, 88);
    color: rgb(224, 224, 224);
}
.first-section-captions p{
    color: rgb(212, 212, 212);
    font-size: larger;
    margin: 1.875rem 0;
}

.first-section-captions h2{
    color: rgb(239, 167, 101);
 }
.caption {
   display: flex;
   justify-content: center;
   align-items: center;
}
.first-section-captions a{
    text-decoration:none;
    color: inherit;
    margin-right: 1.25rem;
    transition: all 1s;
    font-size: 0.9375rem;
}

.caption a:hover{
    color: #EBA23A;
    
}

/* start menu */
.menu-type{
    background-color: black;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid rgb(239, 167, 101);
    transition: all .5s;
}
.menu-type:hover{
    animation-name: menuTransition;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes menuTransition {
    0%{transform: rotateY(0)}
    100%{transform: rotateY(360deg);}
    /* 100%{transform: rotateY(0);} */
}

.menu-type .fa-3x{
    color: #945f15;
}


/* start meals */

.listed-meals, .squared-shapes{
    border: none;
    padding: 0.625rem;
    background-color: transparent;
    font-size: 1.875rem;
    color: #2f344e;
    transition: all 1s;
}


.search{
    border:0.0625rem solid #2f344e;
    padding: 0.625rem;
    border-radius: 0.625rem;
    background-color: #2f344e;
    transition: all 1s;
    color: #EFA765;
    outline: none;
}
.search:focus{
   background-color: rgb(41, 41, 41);
}
.listed-meals:hover, .squared-shapes:hover{
    color: #EFA765;
}
.active-list{
    color: #EFA765;
}
.listed-shape-style-content{
    position: relative;
}
.listed-img-meal-container{
    width: fit-content;
    height: fit-content;
}
.listed-img-meal{
    border-radius:0.625rem;
    width: 9.375rem;
    height: 6.25rem;
    overflow: auto;
}
.listed-meal-title{
    color: white;
    width: 100%;
}
.listed-meals-btn{
    position: absolute;
    bottom: 0;
    left: 11.5625rem;

}
.listed-meals-btn .btn{
    background-color: transparent;
    color: white;
    font-weight: 600;
    border: 0.0625rem solid #2f344e;
    transition: all .5s;
    margin: 0 0.625rem ;
    padding-inline:1.25rem;
    
}
.listed-meals-btn .btn:hover{
    background-color: #2f344e;
    color: #EBA23A;  
}
.dots {
    flex-grow: 3;
    transform: translateY(-0.1875rem);
    border-bottom: 0.1875rem dotted #2f344e;
    margin-right: 0.3125rem;
  }
  .listed-meals-price{
    background-color: white;
    border-radius: 50%;
    color: #F2C010;
    position: relative;
    width: fit-content;
    height: fit-content;
  }

  .listed-meals-price span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.meal{
    height: 25rem;
    background-color: #181818;
    margin: 1.875rem 0;
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;
}
.price{
    color: #F2C010;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}
.price span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.price svg{
    background-color: white;
    border-radius: 50%;
}
.img-meal{
   height:50%;
   position: relative;
}
.meal-img{
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    transition: all 1s;
    cursor: pointer;
}
.img-meal:hover img{
    transform: scale(1.1);
}

.meal-layer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 1s;
    z-index: 1;
}

.img-meal:hover .meal-layer{
   opacity: 1;
   transform: scale(1.1);
}


.main-title{
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: 900;
    color: #EFA765;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 1.875rem;
    margin-left: 2.75rem;
    max-width: 12.5rem;
    transition: all .5s;
}
.main-title:hover{
    white-space: normal;
    max-width: fit-content;
    overflow: visible;
}
.recipe-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recipe-buttons .btn{
    background-color: white;
    color: #945f15;
    font-weight: 600;
    width: 80%;
    border: none;
    transition: all .5s;
}
.recipe-buttons .btn:hover{
    background-color: #945f15;
    color: white;  
}

.meal-layer button{
    background-color: #945f15;
    color: whitesmoke;
    padding: 0.625rem;
    border: none;
    border-radius: 0.625rem 0 0.625rem 0;
    font-weight: 700;
}
.fa-star,.fa-star-half-stroke{
   color: #F2C010;
   font-size: 1.5625rem;
}


.img-info{
    display: flex;
    justify-content: center;
    align-items:center;
 }   
 .img-info img{
     width: 65%;
     border-left: 0.9375rem solid rgb(239, 167, 101) ;
     border-top: 0.9375rem solid rgb(239, 167, 101)   ;
 
 }


.fixed-bg{
    height: 18.75rem;
    background-image: url(../images/image-01-1920x963.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(216, 150, 88);
    font-family:"fantasy";
}
.o{
    color: rgb(236, 134, 38);
    font-size: 3.75rem;
    font-family:serif;   
}
.o-chef{
    color: #001C7D;
    font-size: 3.75rem;
    font-family:serif;   
}
.w{
    color: #D3260A;
    font-size: 2.5rem;
    font-family:cursive; 
}

.separator{
    width: 100px;
}
.bg-danger{
    padding: 0;
}
.why-div{
    background-color: black;
    width: 100%;
}
.why-img{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0.9375rem 1.25rem;

    transition: all 1s;
}
.why-div:hover .why-img{
    animation-name: whyImgTransition;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes whyImgTransition {
    /* 0%{transform: scale(.1);} */
    0%{transform: scale(1);}
    25%{transform: scale(.1);}
    50%{transform: rotateY(180deg);}
    100%{transform: scale(1);}
}

.why-caption{
    text-align: center;
    width: 100%;
    padding:0.9375rem 1.25rem;
    color: #cccccc;
}
.why-caption p{
    color: rgba(255, 255, 255, 0.363);
}

.team-img{
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
}
.team-caption{
    color: #cccccc;
    
}
.team-img-layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #eba13a9a;
    opacity: 0;
    transform: translateX(-150%);
    transition: all 1s;
}
.team-img:hover .team-img-layer{
    opacity: 1;
    transform: translateX(0);
}
.team-img-layer i{
    color: #2f344e;
}
.team-img-layer .fa-linkedin:hover{
    color: #0a35cf;
    cursor: pointer;
}
footer{
    background-color: #353330;
    color: rgba(255, 255, 255, .4);
    font-family: serif;
    position: relative;
    width: 100%;
}
.svg-tomatos{
    position: absolute;
    top:-25.625rem;
    left: 0;
    z-index: -1;
}

footer h4{
    color: #EBA23A;
}
footer ul li{
text-decoration: none;
}
.download-img{
    width: 12.5rem;
    margin:0.625rem 1.25rem;
    transition: all 1s;
}
.download-img:hover{
    transform: scale(1.05,1.05);
}


.icons a{
text-decoration: none;
color: inherit;
padding: 0 1.25rem;
}

.icons{
    font-size: 1.875rem;
    
}

footer .fa-facebook, footer .fa-twitter,.fa-youtube,.fa-tiktok,.fa-instagram{
color: burlywood;
transition: all .5s;
}

.fa-facebook:hover{
color:#4867AA;
cursor: pointer;
}
.fa-twitter:hover{
color: #1D9BF0;
cursor: pointer;
}
.fa-youtube:hover{
color: red;
cursor: pointer;
}
.fa-tiktok:hover{
color: black;
cursor: pointer;
}
.fa-instagram:hover{
color: violet;
cursor: pointer;
}
.footer-details{
border-bottom:rgba(0, 0, 0, 0.2) 0.0625rem solid;
}
.footer-detail a{
    margin-right: 1.25rem;
    transition: all .5;
}
.footer-detail a:hover {
    color:rgb(216, 150, 88) !important;
    cursor:pointer;
}
.footer-details p:hover {
    cursor:pointer;
}
.footer-logo{
    display: flex;
    flex-direction:column;
}
.img-footer{
    width: 12.5rem;
    margin:auto;
}
.arrow-up{
    position:fixed;
    bottom:0.3125rem;
    right:0.3125rem;
    color: rgb(216, 150, 88);
    transition: all .5s;
}
.arrow-up:hover{
    transform: translateY(-20px);
    color: rgb(216, 150, 88);
}
.modal-header{
    color:rgb(239, 167, 101);
}

.modal-body,.modal-footer,.modal-header{
    background-color: #0E0D0C;
}
.modal-body img{
    border: 1px solid rgb(239, 167, 101);
    border-radius: 1.25rem;
}
.modal-body{
    color: #cccccc;
}
.card-body{
    background-color:rgb(239, 167, 101);
}
#ingredients{
    list-style: none;
    text-align: left;
    color: rgb(41, 40, 40);
}
.fa-utensils{
 color: black;
}


.modal-btns{
    background-color: transparent;
    color: white;
    font-weight: 600;
    border: 0.0625rem solid #2f344e;
    transition: all .5s;
    padding: 0.625rem 1.25rem;
    margin-inline: 0.625rem;
}
.modal-btns{
    background-color:#2f344e ;
    color: rgb(216, 150, 88);
    border: 0.0625rem solid rgb(216, 150, 88) ;
}


/* start Reveal on scrolling */

.reveal-meals {
    position: relative;
    transform:translate(10%,10%);
    opacity: 0;
    transition: all .4s linear;
}
.reveal-special {
    position: relative;
    transform:translate(30%,30%);
    opacity: 0;
    transition: all .4s linear;
}
.reveal-special-two {
    position: relative;
    transform:translate(-30%,30%);
    opacity: 0;
    transition: all .4s linear;
}
.reveal-special-menu{
    position: relative;
    transform:translate(0,30%);
    opacity: 0;
    transition: all .4s linear;
}

.showing{
    transform:none !important;
    opacity:1 !important;
}

.special-bg-color{
    background-color: #181818;
    min-height: 500px;
    width: 100%;
    padding: 0.625rem;
}

.cartona{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.last-meals{
    border-radius: 50%;
}

.book-table-img{
    background-image: url(../images/book-a-table.jpg);
    background-size: cover;
    min-height:500px;
}
.book-table-h2{
    color: white;
}
.book-table-h5{
    color: #EBA23A;
}
.custom-select{
    background-color: transparent;
}
.custom-select select , .input {
    background-color: transparent;
    width: 100%;
    padding: 0.625rem;
    color: #cccccc;
    border: none;
    border-bottom: 0.125rem solid #cccccc;
}
option{
    background-color: #181818;
    border-radius: 0.625rem;
    color: #cccccc;
}


@media screen and (max-width:800px) {
        body,html{
            font-size: 15px !important;     
        }
 
         .img-info img{
             width: 60%;
         }

        .first-section-captions{
            text-align: center;
            padding-inline: 10px;
        }

        .listed-sec-one-p{
            text-align: left;
            margin-left: 20px !important;
        }
        
        .team-caption{
            text-align: center;            
        }

       .modal-body img{
        width: 80%;
        margin: auto;
       }

       .loading-video{
        width:80%;
    }
}
@media screen and (max-width:992px) {
    .navbar{
        background-color: rgba(197, 175, 128, 0.8) !important;
    }
           
    .hero-caption{
        left:50%;
        transform: translate(-50%,-60%);
        width:100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img-info img{
        width: 80%;
    }
}
