@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeseva One', cursive;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #111424;
}


.loading{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:#F3D4B5;
    z-index:10;
    display:flex;
    justify-content:center;
    align-items: center;
}
.loading-video{
    width: 40%;
}

.pink{
    color: rgb(223, 25, 58);
}
.navbrand-img{
    width:14.375rem;
}
.navbar{
    background-color:transparent!important;
}
.nav-link{
    font-size:1.125rem;
    transition: all .5s;
    color:white !important;
    border-bottom: solid 0.0625rem transparent;
    font-weight: 800;
}
.nav-link:hover{
    border-bottom: solid 0.0625rem rgb(239, 167, 101);
    color: rgb(239, 167, 101)!important;
    cursor:pointer;
}

.active{
    color: rgb(239, 167, 101) !important;
}

.nav-color{
    background-color: rgba(197, 175, 128, 0.664) !important;
  
}




.home{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    position: relative;
}

.hero-layer{
    background:linear-gradient(to bottom,#111424a9,#111424) ;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
}
.hero-caption{
    position: absolute;
    left:2%;
    top: 60%;
    transform: translateY(-60%);
    width:50%;
    z-index: 2;
}
.hero-title{
    color:rgb(239, 167, 101);
    font-size: 70px;
}
.hero-p{
    color: rgb(233, 233, 233);
}
.caros-icon{
    margin:0.625rem 0.625rem 0.625rem 1.875rem;
    text-decoration:none;
    color:white;
    transition: all .5s;
}
.caros-icon:hover{
    color: #EBA23A;
}
.reservation-btn{
    background-color: transparent;
    border: 1px solid rgb(239, 167, 101);
    color: rgb(239, 167, 101);
    transition: all .5s;
}
.reservation-btn:hover{
    background-color: rgb(216, 150, 88);
    color: rgb(224, 224, 224);
}
.first-section-captions p{
    color: rgb(212, 212, 212);
    font-size: larger;
    margin: 1.875rem 0;

}
.first-section-captions h2{
    color: rgb(239, 167, 101);
 }
.caption {
   display: flex;
   justify-content: center;
   align-items: center;
}
.first-section-captions a{
    text-decoration:none;
    color: inherit;
    margin-right: 1.25rem;
    transition: all 1s;
    font-size: 15px;
}


.caption a:hover{
    color: #EBA23A;
    
}

.meal{
    height: 400px;
    background-color: rgb(6, 6, 12);
    margin: 30px 0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(141, 113, 3);
}
.price{
    color: #F2C010;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}
.price span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.price svg{
    background-color: white;
    border-radius: 50%;
}
.img-meal{
   height:50%;
   position: relative;
}
.meal-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}
.img-meal:hover img{
    transform: scale(1.1);
}

.meal-layer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 1s;
    z-index: 1;
}

.img-meal:hover .meal-layer{
   opacity: 1;
   transform: scale(1.1);
}


.main-title{
    font-size: 20px;
    font-weight: 900;
    color: #945f15;
    text-align: center;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 30px;
}
.main-title:hover{
    white-space: normal;
    overflow: visible;
}
.recipe-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recipe-buttons .btn{
    background-color: white;
    color: #945f15;
    font-weight: 600;
    width: 80%;
}


.meal-layer button{
    background-color: #945f15;
    color: whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 10px 0 10px 0;
    font-weight: 700;
}
.fa-star,.fa-star-half-stroke{
   color: #F2C010;
   font-size: 25px;
}


.img-info{
    display: flex;
    justify-content: center;
    align-items:center;
 }   
 .img-info img{
     width: 50%;
     border-left: 15px solid rgb(239, 167, 101) ;
     border-top: 15px solid rgb(239, 167, 101)   ;
 
 }


.fixed-bg{
    height: 18.75rem;
    background-image: url(../images/image-01-1920x963.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #EBA23A;
    font-family:"fantasy";
}
.o{
    color: #DF5F32;
    font-size: 3.75rem;
    font-family:serif;   
}
.o-chef{
    color: #001C7D;
    font-size: 3.75rem;
    font-family:serif;   
}
.w{
    color: #D3260A;
    font-size: 2.5rem;
    font-family:cursive; 
}

footer{
    background-color: #353330;
    color: rgba(255, 255, 255, .4);
    font-family: serif;
}
footer h4{
    color: #EBA23A;
}
footer ul li{
text-decoration: none;
}
.download-img{
    width: 12.5rem;
    margin:0.625rem 1.25rem;
    transition: all 1s;
}
.download-img:hover{
    transform: scale(1.05,1.05);
}


.icons a{
text-decoration: none;
color: inherit;
padding: 0 1.25rem;
}

.icons{
    font-size: 1.875rem;
    
}

.fa-facebook,.fa-twitter,.fa-youtube,.fa-tiktok,.fa-instagram{
color: burlywood;
transition: all .5s;
}

.fa-facebook:hover{
color:#4867AA;
}
.fa-twitter:hover{
color: #1D9BF0;
}
.fa-youtube:hover{
color: red;
}
.fa-tiktok:hover{
color: black;
}
.fa-instagram:hover{
color: orangered;
}
.footer-details{
border-bottom:rgba(0, 0, 0, 0.2) 1px solid;
}
.footer-detail a{
    margin-right: 1.25rem;
    transition: all .5;
}
.footer-detail a:hover {
    color: #EBA23A !important;
    cursor:pointer;
}
.footer-details p:hover {
    cursor:pointer;
}
.footer-logo{
    display: flex;
    flex-direction:column;
}
.img-footer{
    width: 12.5rem;
    margin:auto;
}
.arrow-up{
    position:fixed;
    bottom:0.3125rem;
    right:0.3125rem;
    color: chocolate;
}
.arrow-up:hover{
 color: #EBA23A;   
}

.modal-header{
    color:#EBA23A;
    font-family: sans-serif;
}
.modal-footer button{
    color: black;
}
.modal-body,.modal-footer,.modal-header{
    background:linear-gradient(to right,rgba(255, 192, 203, 0.6),#8CB4C7) 
}
.modal-body img{
    border-right: solid 0.0625rem pink;
    border-left:solid 0.0625rem #8CB4C7;
    border-top:solid 0.0625rem pink;
    border-bottom:solid 0.0625rem #8CB4C7;
    border-radius: 1.25rem;
}
.card-body{
    background-color:#c3d1d8;
}
#ingredients{
    list-style: none;
    text-align: left;
}
.fa-utensils{
 color: #EBA23A;
}
/* /Reveal scrolling */
.reveal-special{
transform:scale(.1);
opacity: 0;
transition: all 2s ease-in-out;
}
.reveal-meals {
    position: relative;
    transform:translate(10%,10%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.show-meals{
    transform:translate(0,0) !important;
    opacity:1 !important;
}
.showing{
transform: scale(1) !important;
opacity:1 !important;
}
.cartona{
    min-height :100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-meals{
    border-radius: 50%;
}


@media screen and (max-width:800px) {
        body,html{
            font-size: 13px !important;     
        }
      .caros{
        height:400px;
        }
        .carouser-item{
            height:400px;
        }
        
        .caros-img{
            height:400px !important;
        }
        .first-section-captions h2{
            text-align: center;
        }
        .first-caption{
            margin:0 0;
            color: white !important;
            text-align: center;
            font-family:sans-serif;
        }
        .first-caption h5{
            display: none;
        }
        .first-caption img{
            margin:0 0; 
            width: 100px;
        }
        .first-caption h1,a{
            margin:0 0; 
        }
        .caroser-p{
            display:block !important;
        }
       .just-for-media-query{
        width:90%;
        margin: auto;
       }
       .download-img{
        margin:10px 5px;
       }
       .download-img-media-query{
        margin-left: 20px;
       }
       .modal-body img{
        width: 80%;
        margin: auto;
       }
       .loading-video{
        width:80%;
    }
}
